.day-picker__list-item {
  @include fade;

  color: #8395A7;
  height: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-picker__list-item:hover {
  background-color: #EE5253;
  cursor: pointer;
  color: #222F3E;
}

.day-picker__list-item--selected {
  background-color: #F2F2F2;
  color: #222F3E;
}

.day-picker__list-item--selected:hover {
  cursor: pointer;
}

.day-picker__list-item--full {
  opacity: $inactive-opacity;
}
