.day-picker__list-item {
  @include fade;

  color: #8395a7;
  height: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-picker__list-item:hover {
  background-color: #ee5253;
  cursor: pointer;
  color: $dark-background;
}

.day-picker__list-item--selected {
  background-color: darken($white, 5%);
  color: $dark-background;
}

.day-picker__list-item--selected:hover {
  background-color: darken($white, 5%);
}

.day-picker__list-item--full {
  opacity: $inactive-opacity;
}
