@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

* {
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.appointment__card {
  min-height: 9rem;
  margin-left: 3rem;
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  color: #fff; }

.appointment__card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%; }

.appointment__card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; }

.appointment__add {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.appointment__add-button {
  transition: opacity 0.2s ease-out;
  opacity: 0.7; }

.appointment__add-button:hover {
  opacity: 1.0;
  cursor: pointer; }

.appointment__time {
  display: flex; }

.appointment__separator {
  border-style: solid;
  border-width: 0.5px;
  width: 100%;
  color: #f2f2f2;
  margin-left: 1rem; }

.appointment__card--active.appointment__card--week1 {
  background-color: #54a0ff; }

.appointment__card--inactive.appointment__card--week1 {
  color: #54a0ff;
  background: linear-gradient(90deg, #54a0ff, #54a0ff 8px, rgba(84, 160, 255, 0.15) 0, rgba(84, 160, 255, 0.15)); }

.appointment__card--active.appointment__card--week2 {
  background-color: #48dbfb; }

.appointment__card--inactive.appointment__card--week2 {
  color: #48dbfb;
  background: linear-gradient(90deg, #48dbfb, #48dbfb 8px, rgba(72, 219, 251, 0.15) 0, rgba(72, 219, 251, 0.15)); }

.appointment__card--active.appointment__card--week3 {
  background-color: #1dd1a1; }

.appointment__card--inactive.appointment__card--week3 {
  color: #1dd1a1;
  background: linear-gradient(90deg, #1dd1a1, #1dd1a1 8px, rgba(29, 209, 161, 0.15) 0, rgba(29, 209, 161, 0.15)); }

.appointment__card--active.appointment__card--week4 {
  background-color: #5f27cd; }

.appointment__card--inactive.appointment__card--week4 {
  color: #5f27cd;
  background: linear-gradient(90deg, #5f27cd, #5f27cd 8px, rgba(95, 39, 205, 0.15) 0, rgba(95, 39, 205, 0.15)); }

.appointment__actions-button {
  transition: opacity 0.2s ease-out;
  opacity: 0.7;
  margin-right: 0.5rem; }

.appointment__actions-button:last-of-type {
  margin-right: 0; }

.appointment__actions-button:hover {
  opacity: 1.0;
  cursor: pointer; }

.appointment__card--create {
  background-color: #222f3e;
  display: flex; }

.appointment__card--status {
  background-color: #222f3e;
  display: flex;
  justify-content: center;
  align-items: center; }

.appointment__status-image {
  margin-right: 2rem;
  animation: rotate 1s linear infinite; }

.appointment__card--confirm {
  background-color: rgba(238, 82, 83, 0.15);
  color: #ee5253;
  border: 2px solid #ee5253;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.appointment__card--error {
  background-color: rgba(255, 159, 67, 0.15);
  color: #ff9f43;
  border: 2px solid #ff9f43;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.appointment__error-message {
  display: flex;
  flex-direction: column; }

.appointment__error-close {
  transition: opacity 0.2s ease-out;
  opacity: 0.7;
  align-self: flex-start; }

.appointment__error-close:hover {
  opacity: 1.0;
  cursor: pointer; }

.appointment__create-input {
  background-color: #222f3e;
  border: 0;
  border-bottom: 1px solid;
  color: #fff;
  font-size: 1.5rem;
  height: 2rem;
  margin-bottom: 1rem;
  width: 100%; }

.appointment__create-input:focus {
  outline: none; }

.button {
  transition: opacity 0.2s ease-out;
  opacity: 0.7;
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  margin-right: 1rem;
  width: 8rem; }

.button:last-of-type {
  margin-right: 0; }

.button:hover {
  opacity: 1.0;
  cursor: pointer; }

.button:focus {
  outline: none; }

.button--danger {
  color: #ee5253; }

.button--confirm {
  color: #10ac84; }

.button--inverted.button--danger {
  color: #fff;
  background-color: rgba(238, 82, 83, 0.7); }

.button--inverted.button--danger:hover {
  background-color: #ee5253; }

.day-picker__list-item {
  transition: opacity 0.2s ease-out;
  color: #8395A7;
  height: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.day-picker__list-item:hover {
  background-color: #EE5253;
  cursor: pointer;
  color: #222f3e; }

.day-picker__list-item--selected {
  background-color: #f2f2f2;
  color: #222f3e; }

.day-picker__list-item--selected:hover {
  background-color: #f2f2f2; }

.day-picker__list-item--full {
  opacity: 0.15; }

.interviewer__header {
  margin-bottom: 0.5rem; }

.interviewer__image {
  border-radius: 16px; }

.interviewer__list {
  display: flex;
  flex-flow: row wrap; }

.interviewer__list-item {
  transition: opacity 0.2s ease-out;
  opacity: 0.7;
  margin-right: 0.5rem; }

.interviewer__list-item--selected {
  color: #222f3e;
  background-color: #fff;
  border-radius: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  padding-right: 1rem;
  user-select: none; }

.interviewer__image--selected {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem; }

.interviewer__list-item--selected,
.interviewer__list-item:hover {
  opacity: 1.0;
  cursor: pointer; }

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  padding: 0 2rem;
  width: 100vw; }

.sidebar {
  background-color: #222f3e;
  box-shadow: 0px 4px 8px rgba(34, 47, 62, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  padding: 2rem 0; }

.sidebar__separator {
  width: 90%;
  margin: 2rem 0;
  border: solid 0.5px;
  color: #f2f2f2; }

.sidebar--centered {
  align-self: center; }

.sidebar__menu {
  flex: 1; }

.text--light {
  font-weight: 300; }

.text--regular {
  font-weight: 400; }

.text--semi-bold {
  font-weight: 600; }

.text--bold {
  font-weight: 700; }

.text--black {
  font-weight: 900; }

.week-picker {
  margin-bottom: 1rem; }

.week-picker__list {
  display: flex;
  user-select: none; }

.week-picker__list-item {
  transition: opacity 0.2s ease-out;
  opacity: 0.7;
  margin-right: 0.5rem; }

.week-picker__list-item:hover {
  opacity: 1.0;
  cursor: pointer; }

.week-picker__list-item:last-of-type {
  margin-right: 0; }

.week-picker__list-item--selected.week-picker__list-item--week1,
.week-picker__list-item--week1:hover {
  color: #54a0ff; }

.week-picker__list-item--selected.week-picker__list-item--week2,
.week-picker__list-item--week2:hover {
  color: #48dbfb; }

.week-picker__list-item--selected.week-picker__list-item--week3,
.week-picker__list-item--week3:hover {
  color: #1dd1a1; }

.week-picker__list-item--selected.week-picker__list-item--week4,
.week-picker__list-item--week4:hover {
  color: #5f27cd; }

.week-picker__list-item--selected {
  opacity: 1; }

.layout {
  display: flex;
  min-height: 100vh; }

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px; }
  .layout {
    flex-direction: column; } }

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px; } }
